<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Products</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Dashboard</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" th:href="@{/logout}">Sign out</a>
        </div>
    </div>
</header>

<div class="container-fluid px-5">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <span data-feather="home" class="align-text-bottom"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin-orders}">
                            <span data-feather="file" class="align-text-bottom"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item ms-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                            <span data-feather="shopping-cart" class="align-text-bottom me-2"></span>
                            Products/Categories
                        </button>
                        <div class="collapse" id="dashboard-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-semibold pb-2 small">
                                <li><a th:href="@{/upload-products}" class="link-dark d-inline-flex text-decoration-none rounded mx-4"><span data-feather="upload"></span> &nbsp; Add product</a></li>
                                <li><a th:href="@{/list-products}" class="link-dark d-inline-flex text-decoration-none rounded mx-4"><span data-feather="eye"></span> &nbsp; Products </a></li>
                                <li><a th:href="@{/categories}" class="link-dark d-inline-flex text-decoration-none rounded mx-4"><span data-feather="upload"></span> &nbsp; Categories</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            Integrations
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                    <span>Saved reports</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle" class="align-text-bottom"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text" class="align-text-bottom"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text" class="align-text-bottom"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text" class="align-text-bottom"></span>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text" class="align-text-bottom"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="user" class="align-text-bottom"></span>
                        This week
                    </button>
                </div>
            </div>

            <h4 style="text-align:center; margin:45px;">Upload Products</h4>

            <div class="container-fluid d-flex justify-content-center min-vh-70 align-items-center">
                <div class="container-fluid">
                    <form method="post"
                          th:action="@{/save-product}"
                          enctype="multipart/form-data">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="product_name" placeholder="Enter Product name" name="product_name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" id="cost_price" name="cost_price"required placeholder="Enter Price">
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" id="message" rows="3" name="description" required placeholder="Enter Product Description..."></textarea>
                            </div>

                            <div class="col-md-6">
                                <input type="file" class="form-control" id="file" name="file" required>
                                <small class="text-muted">*Images should be less than 10 MB</small>
                            </div>

                            <div class="col-md-6">
                                <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity of products" required>
                            </div>

                            <div class="mb-3">
                                <select  name="category" class="form-control" required>
                                    <option th:value="null">Select</option>
                                    <option th:each="category_new : ${category}"
                                            th:value="${category_new.categoryId}"
                                            th:text="${category_new.category_name}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>


        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="js/dashboard.js"></script>
</body>
</html>