.navbar-brand {
    font-weight: 900;
    font-size: medium;
    font-style: normal;
    color: #3446a0;
}

.nav-bar:hover {
    color: black;
}

.nav-link {

    margin-right: 10px;
    color: #3446a0;
    font-weight: 600;
    font-size: medium;
    font-style: normal;

}

.nav-link:hover {
    color: black;
}

.logo {
    width: 35px;
    height: 35px;
    margin: 10px;
}

.search {
    height: 40px;
    width: 100%;
    outline: none;

}

.navbar-nav a {
    font-size: 15px;
    color: rgb(62, 63, 65);
    font-weight: bold;
    font-family: sans-serif;
}

.navbar-nav a:hover {
    color: grey;
}

.offcanvas {
    background-color: rgb(156, 156, 161, 0.8);
}

.navbar-toggler-icon {

    outline: none;
    font-size: 15px;
    border: none;

}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


  h1, p{
    margin-bottom:5%;
    font-weight: bold;
    color:#3446a0;
    text-decoration:none;
  }










